Source: cloudabi-utils
Section: misc
Priority: optional
Maintainer: Ed Schouten <ed@nuxi.nl>
Build-depends: cmake, debhelper (>= 9), libyaml-dev
Standards-Version: 3.9.6
Homepage: https://nuxi.nl/
Vcs-Git: https://github.com/NuxiNL/cloudabi-utils.git
Vcs-Browser: https://github.com/NuxiNL/cloudabi-utils

Package: cloudabi-utils
Architecture: amd64 arm64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Utilities for spawning CloudABI processes
 CloudABI is a Unix-like runtime environment that is built on the
 concept of capability-based security. Access controls are purely
 determined by file descriptors that a process possesses.
 .
 The cloudabi-run utility provided by this package can be used to
 processes in a controlled matter. Processes are started by providing a
 configuration file that may include tags to grant access to resources,
 such as directories and network sockets.

Package: libcloudabi0
Section: libs
Architecture: amd64 arm64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Native ports of CloudABI functions (shared library)
 To be able to start CloudABI programs from Linux, a number of
 programming interfaces from CloudABI have been ported over into this
 library. This library provides native versions of functions normally
 provided by argdata.h and program.h.
 .
 This package contains the shared library.

Package: libcloudabi-dev
Section: libdevel
Architecture: amd64 arm64
Depends: ${misc:Depends}, ${shlibs:Depends}, libcloudabi0 (= ${binary:Version})
Description: Native ports of CloudABI functions (development files)
 To be able to start CloudABI programs from Linux, a number of
 programming interfaces from CloudABI have been ported over into this
 library. This library provides native versions of functions normally
 provided by argdata.h and program.h.
 .
 This package contains the header files.
